<canvas id="physics-canvas"></canvas>
<div id="controls">

    <span class="quantity">
        {{#mousedown-button action="addOneBody"}}
            {{fa-icon "plus"}} 1 ball
        {{/mousedown-button}}
        {{#mousedown-button action="removeOneBody"}}
            {{fa-icon "minus"}} 1 ball
        {{/mousedown-button}}
    </span>

    <span class="speed">
        {{#mousedown-button action="slowBodiesDown"}}
            {{fa-icon "backward"}}
        {{/mousedown-button}}
        <button {{action "pause"}}>
            {{#if paused}}
                {{fa-icon "play"}}
            {{else}}
                {{fa-icon "pause"}}
            {{/if}}
        </button>
        {{#mousedown-button action="speedBodiesUp"}}
            {{fa-icon "forward"}}
        {{/mousedown-button}}
    </span>

    <span class="size">
        {{#mousedown-button action="growBodies"}}
            {{fa-icon "plus"}} size
        {{/mousedown-button}}
        {{#mousedown-button action="shrinkBodies"}}
            {{fa-icon "minus"}} size
        {{/mousedown-button}}
    </span>

    <span class="collisions">
        <button {{action "toggleCollisionDetection"}}>
            {{#if collisionsOn}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            Collisions
        </button>
    </span>

    <span class="gravity">
        <button {{action "toggleGravity"}}>
            {{#if gravityOn}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            Gravity
        </button>
    </span>

    <span class="elasticity">
        <button {{action "toggleElasticity"}}>
            {{#if elasticityOn}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            Elasticity
        </button>
    </span>

    <span class="fullscreen">
        <button {{action "toggleFullscreen"}}>
            {{#if fullscreen}}
                {{fa-icon "compress"}}
            {{else}}
                {{fa-icon "expand"}}
            {{/if}}
        </button>
    </span>

</div>
