<canvas id="physics-canvas"></canvas>
<div id="controls">

    <span class="quantity">
        <button {{action "addOneBody" world}} id="add-one">
            {{fa-icon "plus"}}
        </button>
        <button {{action "removeOneBody" world}}>{{fa-icon "minus"}}</button>
    </span>

    <span class="speed">
        <button {{action "slowBodiesDown" world}}>{{fa-icon "backward"}}</button>
        <button {{action "pause" world}}>
            {{#if paused}}
                {{fa-icon "play"}}
            {{else}}
                {{fa-icon "pause"}}
            {{/if}}
        </button>
        <button {{action "speedBodiesUp" world}}>{{fa-icon "forward"}}</button>
    </span>

    <span class="size">
        <button {{action "growBodies" world}}>{{fa-icon "expand"}}</button>
        <button {{action "shrinkBodies" world}}>{{fa-icon "compress"}}</button>
    </span>

    <span class="collisions">
        <button {{action "toggleCollisionDetection" world}}>
            {{#if collisionsOn}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            Collisions
        </button>
    </span>

    <span class="gravity">
        <button {{action "toggleGravity" world}}>
            {{#if gravityOn}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            Gravity
        </button>
    </span>

    <span class="elasticity">
        <button {{action "toggleElasticity" world}}>
            {{#if elasticityOn}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            Elasticity
        </button>
    </span>
</div>
