<button id="show-hide-controls" {{action "toggleControls"}} title="Show/hide controls">
    {{#if controlsHidden}}
        {{fa-icon "eye"}}
    {{else}}
        {{fa-icon "eye-slash"}}
    {{/if}}
</button>
<canvas id="physics-canvas"></canvas>
<div id="controls">

    <div class="control-row">
        {{fa-icon "sliders"}}
        <span class="quantity">
            {{#mousedown-button action="addOneBody"}}
                {{fa-icon "plus"}} 1 ball
            {{/mousedown-button}}
            {{#mousedown-button action="removeOneBody"}}
                {{fa-icon "minus"}} 1 ball
            {{/mousedown-button}}
        </span>

        <span class="speed">
            {{#mousedown-button action="slowBodiesDown"}}
                {{fa-icon "backward"}}
            {{/mousedown-button}}
            <button {{action "pause"}}>
                {{#if paused}}
                    {{fa-icon "play"}}
                {{else}}
                    {{fa-icon "pause"}}
                {{/if}}
            </button>
            {{#mousedown-button action="speedBodiesUp"}}
                {{fa-icon "forward"}}
            {{/mousedown-button}}
        </span>

        <span class="size">
            {{#mousedown-button action="growBodies"}}
                {{fa-icon "plus"}} size
            {{/mousedown-button}}
            {{#mousedown-button action="shrinkBodies"}}
                {{fa-icon "minus"}} size
            {{/mousedown-button}}
        </span>

        <span class="clear">
          <button {{action "clear"}}>
            {{fa-icon "eraser"}} clear
          </button>
        </span>
    </div>
    <div class="control-row">
        {{fa-icon "gear"}}
        <span class="collisions">
            <button {{action "toggleCollisionDetection"}}>
                {{#if collisionsOn}}
                    {{fa-icon "check"}}
                {{else}}
                    {{fa-icon "close"}}
                {{/if}}
                collisions
            </button>
        </span>

        <span class="gravity">
            <button {{action "toggleGravity"}}>
                {{#if gravityOn}}
                    {{fa-icon "check"}}
                {{else}}
                    {{fa-icon "close"}}
                {{/if}}
                gravity
            </button>
        </span>

        <span class="elasticity">
            <button {{action "toggleElasticity"}}>
                {{#if elasticityOn}}
                    {{fa-icon "check"}}
                {{else}}
                    {{fa-icon "close"}}
                {{/if}}
                elasticity
            </button>
        </span>

        <button {{action "toggleChangeColors"}}>
            {{#if changeColors}}
                {{fa-icon "check"}}
            {{else}}
                {{fa-icon "close"}}
            {{/if}}
            change colors
        </button>

        <span class="fullscreen">
            <button {{action "toggleFullscreen"}}>
                {{#if fullscreen}}
                    {{fa-icon "compress"}}
                {{else}}
                    {{fa-icon "expand"}}
                {{/if}}
            </button>
        </span>
    </div>
    <div class="control-row">
        {{fa-icon "tint"}}&nbsp;
        color scheme: {{view "select" content=colorSchemeNames value=activeColorScheme}}
        background: {{view "select" content=backgroundColors value=backgroundColor}}
    </div>
</div>
